section{
    padding-bottom: 50px;
    border-bottom: solid black 3px;
}
section:first-child>h4{
    color: blue;
}
section:nth-child(2){
    border-bottom: solid red 5px;
}
section:nth-child(3)>h3,section:nth-child(3)>ul{
    color: red;
}
section:nth-child(4)>ul>:nth-child(2)>a{
    font-size: 25px;
}
section:nth-child(5)>h3+span{
    color: blue;
}
section:nth-child(7)>img{
    border-radius: 50%;
    border: solid blue 3px;
    
}
section:last-child>p:hover{
    color: green;
}